@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@200&display=swap');

:root {
  --font-head: 'Merriweather', serif;
  --font-main: Arial;

  --gradient-text: linear-gradient(49deg, rgba(28,17,140,1) 0%, rgba(16,81,242,1) 30%, rgba(0,255,123,1) 67%);

  --color-font: #33341C;
  --color-primary: #6A9CA1;
  --color-secondary: #E5DBCF;
  --color-bg: #FDFFFC;
}



